.main {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.payment {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.payment-nav {
  font-family: var(--third-font-family);
  font-size: var(--main-font-size);
  font-weight: 400;
  display: flex;
  flex-direction: column;
}
.payment-nav__nav-container {
  display: flex;
  justify-content: space-between;
}
.payment-nav__nav .link:first-child {
  text-decoration: underline;
  color: var(--button-background-color);
}
.payment-nav__nav .link:first-child:hover {
  font-weight: 400;
  color: var(--link-hovered-color);
}
.payment-nav__button {
  font-weight: 600;
  padding: 10px 25px;
  border-radius: 10px;
  background: var(--button-payment-color);
}
.payment-nav__button-container {
  display: flex;
  gap: 20px;
}
.payment-nav__button_active {
  color: var(--button-background-color);
  outline: 4px solid #ece4ec;
  outline-offset: -4px;
  background: none;
}
.payment-nav .icon {
  width: 32px;
  height: 32px;
}
.payment__title {
  font-family: var(--third-font-family);
}
.payment__form {
  display: flex;
  gap: 10px;
}
.payment__form-container {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: none;
}
.payment__form-label {
  color: var(--button-background-color);
}
.payment__form-input {
  font-family: var(--third-font-family);
  font-size: var(--main-font-size);
  font-weight: 600;
  padding: 6px 15px;
  border: 2px solid var(--button-background-color);
  border-radius: 10px;
  transition: var(--transition);
}
.payment__form-input:focus {
  outline: none;
}
.payment__form-input:focus-visible {
  border-color: var(--link-hovered-color);
}

.video-link {
  text-decoration: underline;
  display: flex;
  gap: 10px;
  align-items: center;
}
.video-link:hover {
  font-weight: 400;
  color: var(--link-hovered-color);
}