/* Шрифты */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@font-face {
  font-family: "Gramatika", sans-serif;
  src: url(./gramatika_medium.woff2) format("woff2"),
    url(./gramatika_medium.woff) format("woff");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Gramatika", sans-serif;
  src: url(./gramatika_bold.woff2) format("woff2"),
    url(./gramatika_bold.woff) format("woff");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Gramatika", sans-serif;
  src: url(./gramatika_black.woff2) format("woff2"),
    url(./gramatika_black.woff) format("woff");
  font-weight: 800;
  font-display: swap;
}
